%html
  %head
    %title STYW_P3
  %body
    %center
      %br      
      
      %img{:src => 'https://lh4.googleusercontent.com/upCxtIkN9PyNIUk-lTAqSfp4OUVC_FAJBVk_Zb1AvsDGnhHBUt0wpjCuNy6fEp_y3dPLmIfOqQ=s640-h400-e365'}
       
      %h2 You vs Computer
      
      %h3
      %a{:href => '?choice=rock'} Rock
      %a{:href => '?choice=paper'} Paper
      %a{:href => '?choice=scissors'} Scissors


      %h2= answer